* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu_container {
  position: absolute;
  top: 0;
  width: 350px;
  /* 175px is half of total width 350px */
  /* left: calc(50% - 175px); */
  left: 50%;
  /* same as above */
  transform: translateX(-50%);

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #eeeeee;
  height: 60px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu_button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding-right: 2px;

  transition: background-color 0.3s;
  background-color: #fff1dc;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_button:hover {
  background-color: #e8d5c4;
  cursor: pointer;
}

.menu_button_active {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding-right: 2px;
  background-color: #e8d5c4;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_button img {
  display: inline-block;
}
